.Logo {
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    transition: 0.3s;
    height: 55px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    opacity: 0.5;
    align-items: center;
    &__p {
        z-index: 999;
        cursor: pointer;
        z-index: 999;
        position: relative;
        transition: 0.3s;
        font-size: 15px;
    }
    &:hover {
        opacity: 1;
    }
}

.Window {
    width: 100%;
    padding: 10px;
    background: rgb(30, 0, 30);
    left: 0px;
    top: -50px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0 104px rgb(30, 0, 30);
    height: fit-content;
}
