.ReviewBlockList {
    input {
        min-width: 100px;
        width: 100%;
    }
    &__form {
        display: flex;
        width: 100%;
        gap: 10px;
    }
    div {
        button {
            &:nth-child(1) {
                background: none;
            }
        }
    }
}

.Container {
    width: 90%;
    margin-left: auto;
    div {
        button {
            &:nth-child(1) {
                background: none;
                color: white;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}
