.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    row-gap: 16px;
    block-size: 72px;
    padding-block-start: 24px;
}
@media (max-width: 865px) {
    .container {
        grid-template-columns: 1fr;
    }
}
