.breadcrumbs {
    align-self: flex-start;
    line-height: 1.4;

    &__link {
        margin-right: 5px;
        transition: background-color 0.15s linear 0s;
        border-bottom: 4px solid #636363;

        @media (hover: hover) {
            &:hover {
                background-color: #636363;
            }
        }
    }

    &__separator {
        display: inline-block;
        margin-right: 5px;
    }

    &__end {
        text-transform: capitalize;
        opacity: 0.6;
    }
}
