.button {
    grid-column: 1/-1;
    block-size: 40px;
    border: 1px solid rgba(255, 255, 255, 0.32);
    border-radius: var(--border-radius-slider-item);
    background-color: transparent;
    color: white;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;

    &:hover {
        border-color: rgba(255, 255, 255, 0.72);
    }
}
