.container {
    display: grid;
    grid-auto-rows: 40px;
    row-gap: 24px;
    max-inline-size: 290px;
    inline-size: 100%;
    margin-inline: auto;

    & button,
    input {
        border-radius: 8px;
    }
}
